{% extends "base.html" %}

{% block content %}
    <p>Manufacturers List</p>
    <br/>
    <table class="table table-striped">
        <tr>
            <td class="col-md-5">Name</td>
            <td class="col-md-2">Founding Date</td>
            <td class="col-md-2">Country</td>
            <td class="col-md-3">Website</td>
        </tr>
        {% for manufacturer in manufacturers %}
            <tr>
                <td>{{ manufacturer.name }}</td>
                <td>{{ manufacturer.founding_date }}</td>
                <td>{{ manufacturer.country.name }}</td>
                <td>{{ manufacturer.website }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}