{% extends "base.html" %}

{% block content %}
    <h1>Add a new car</h1>
    <p>Please introduce the following data</p>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>


{% endblock content %}