{% extends "base.html" %}

{% block content %}
    <p>Car List</p>
    <br/>
    <table class="table table-striped">
        <tr>
            <td class="col-md-3">Name</td>
            <td class="col-md-2">Cost</td>
            <td class="col-md-2">Engine Capacity</td>
            <td class="col-md-1">Color</td>
            <td class="col-md-3">Manufacturer</td>
            <td class="col-md-1">Special</td>
        </tr>
        {% for car in cars %}
            <tr>
                <td>
                    {{ car.name }}
                    {% if car.image %}
                        <img src="{{ car.image.url }}" class="img-responsive center-block"/>
                    {% else %}
                        <p>No image</p>
                    {% endif %}
                </td>
                <td>{{ car.cost }}</td>
                <td>{{ car.engine_capacity }}</td>
                <td>{{ car.color.name }}</td>
                <td>{{ car.manufacturer.name }}</td>
                <td>{{ car.is_special|yesno:"Yes, No" }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}