{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Cars{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>

<body>
<div class="wrapper col-md-12">
    <div id="header">
        <div class="row">
            <div class="col-md-9">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>: {{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <!-- end logo, title -->
            <div class="col-md-3"></div>
            <!-- end login form block-->
        </div>
    </div>
    <div class="row">
        <div id="sidebar" class="col-md-2 pull-left">
            {% block sidebar %}
                <ul>
                    <a href="/">
                        <li>Car List</li>
                    </a>
                    <a href="manufacturers">
                        <li>Manufacturer List</li>
                    </a>
                    <a href="add-car">
                        <li>Add car</li>
                    </a>
                    <a href="add-manufacturer">
                        <li>Add manufacturer</li>
                    </a>
                    <a href="api/v1">
                        <li>API endpoints</li>
                    </a>
                </ul>
            {% endblock sidebar %}
        </div>

        <div id="content" class="col-md-10">
            {% block content %}{% endblock content %}
        </div>
    </div>

    <div id="footer" class="navbar-fixed-bottom">
        {% block footer %}
        {% endblock footer %}
        <p>Copyright Anna Corobco</p>
    </div>
</div>

</body>
</html>